* {
    font-family: 'Turret Road', cursive;
}

#Title {
    color: #4169e1;
}

#Body {
	background-color: aliceblue;
    text-align: center;
	height: 100%;
}

#Section-left {
    display: inline-block;
    vertical-align: top;
    padding-right: 50px;
}
#Section-right {
    display: inline-block;
    vertical-align: top;
}

.MyImage {
    max-height: 200px;
    max-width: 200px;
    padding-top: 10px;
}

#Section-left>div>ol {
	font-size: 120%;
	font-weight: bold;
}

li~li {
	font-weight: normal;
}

.Subjects, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

ul {
    display: inline;
  }

.Subjects thead {
    color: #4169e1;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;        
}

footer ul li {
    font-size: 65%;
}
